[submodule "external/google_test"]
	path = VegaEngine/vendor/google_test
	url = https://github.com/google/googletest.git
[submodule "external/nanobench"]
	path = VegaEngine/vendor/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "VegaEngine/external/spdlog"]
	path = VegaEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "vendor/GLM"]
	path = VegaEngine/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "vendor/stb-image"]
	path = VegaEngine/vendor/stb-image
	url = https://github.com/nothings/stb
[submodule "vendor/spdlog"]
	path = vulkan/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/vma-hpp"]
	path = VegaEngine/vendor/vma-hpp
	url = https://github.com/YaaZ/VulkanMemoryAllocator-Hpp
[submodule "vendor/tinyobj"]
	path = VegaEngine/vendor/tinyobj
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vendor/imgui"]
	path = VegaEngine/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
