[submodule "external/google_test"]
	path = VegaEngine/external/google_test
	url = https://github.com/google/googletest.git
[submodule "external/nanobench"]
	path = VegaEngine/external/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "VegaEngine/external/spdlog"]
	path = VegaEngine/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "VegaEngine/external/imgui"]
	path = VegaEngine/external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "VegaEngine/external/sdl"]
	path = VegaEngine/external/sdl
	url = https://github.com/libsdl-org/SDL
